@import url("https://fonts.googleapis.com/css?family=Raleway%7CRighteous");

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Raleway", sans-serif;
}
nav {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    padding: 25px;
    background: blueviolet;
}
nav i {
    color: antiquewhite;
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 100px;
    right: -100%;
    transition: .5s ease-in-out;
    background-color: blueviolet;
}
nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 1rem;
    padding-right: 1rem;
}
nav ul li a {
    position: relative;
    padding: .3rem 0;
    color: antiquewhite;
    font-size: 1.2rem;
    text-decoration: none;
}
#menu-open,
#menu-close {
    font-size: 2rem;
    line-height: 50px;
}
#menu-close {
    display: none;
}
#show-menu {
    display: none;
}
#show-menu:checked ~ ul {
    right: 0;
}
#show-menu:checked ~ label #menu-open {
    display: none;
}
#show-menu:checked ~ label #menu-close {
    display: block;
}
/* Hide toggle menu icons and remove position fixed on <ul> element */
@media screen and (min-width: 1024px) {
    label #menu-open,
    label #menu-close {
        display: none;
    }
    nav ul {
        flex-direction: row;
        justify-content: flex-end;
        position: inherit;
        right: 0;
        height: 100%;
        top: 0;
    }
}